<?xml version="1.0"?>
<!--
/**
 * @category   Ec
 * @package    Ec_DisableCheckout
 */
-->
<config>
    <tabs>
        <ec translate="label">
            <label>Ec Extensions</label>
            <sort_order>10</sort_order>
        </ec>
    </tabs>
    <sections>
        <ec_disable_checkout translate="label">
            <label>Ec Disable Checkout</label>
            <tab>ec</tab>
            <sort_order>10</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <settings translate="label comment">
                    <label>Settings</label>
                    <sort_order>0</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <disable_checkout translate="label">
                            <label>Disable Checkout</label>
                            <comment>Disable checkout, AddToCart button and MyAccount</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </disable_checkout>
                    </fields>
                </settings>
            </groups>
        </ec_disable_checkout>
    </sections>
</config>
