<?xml version="1.0"?>

<!--
/**
 * @category    Ec
 * @package     Ec_Install
 */
-->
<config>
    <modules>
        <Ec_Install>
            <version>1.0.12</version>
        </Ec_Install>
    </modules>
    <global>
        <helpers>
            <ec_install>
                <class>Ec_Install_Helper</class>
            </ec_install>
        </helpers>
        <blocks>
            <page>
                <rewrite>
                    <html_topmenu>Ec_Install_Block_Page_Html_Topmenu</html_topmenu>
                </rewrite>
            </page>
        </blocks>
        <resources>
            <ec_install_setup>
                <setup>
                    <module>Ec_Install</module>
                    <class>Ec_Install_Model_Resource_Setup</class>
                </setup>
            </ec_install_setup>
        </resources>
    </global>
    <default>
        <design>
            <theme>
                <locale>ec</locale>
                <template>ec</template>
                <skin>ec</skin>
                <layout>ec</layout>
                <default>ec</default>
            </theme>
            <head>
                <default_title>Econom-Centr</default_title>
            </head>
            <header>
                <logo_alt>Econom-Centr</logo_alt>
            </header>
            <footer>
                <copyright><![CDATA[Тел: +38 (099) 325 29 33, +38 (050) 372 71 88 <br /> www.econom-centr.com.ua - 2kish Development]]></copyright>
            </footer>
        </design>
        <wishlist>
            <general>
                <active>0</active>
            </general>
        </wishlist>
		<design>
			<header>
				<logo_src>images/logo.png</logo_src>
				<logo_src_small>images/logo.png</logo_src_small>
			</header>
		</design>
    </default>
    <frontend>
        <layout>
            <updates>
                <ec_install>
                    <file>ec/install.xml</file>
                </ec_install>
            </updates>
        </layout>
        <translate>
            <modules>
                <ec_install>
                    <files>
                        <default>ec_install.csv</default>
                    </files>
                </ec_install>
            </modules>
        </translate>
    </frontend>
</config>
