<?xml version="1.0"?>

<!--
/**
 * @category    Ec
 * @package     Ec_Install
 */
-->
<config>
    <modules>
        <Ec_Install>
            <version>1.0.3</version>
        </Ec_Install>
    </modules>
    <global>
        <resources>
            <ec_install_setup>
                <setup>
                    <module>Ec_Install</module>
                    <class>Ec_Install_Model_Resource_Setup</class>
                </setup>
            </ec_install_setup>
        </resources>
    </global>
    <default>
        <design>
            <theme>
                <locale>ec</locale>
                <template>ec</template>
                <skin>ec</skin>
                <layout>ec</layout>
                <default>ec</default>
            </theme>
            <head>
                <default_title>Hästens</default_title>
            </head>
            <header>
                <logo_alt>Hästens</logo_alt>
            </header>
            <footer>
                <copyright>&amp;copy; 2014 Hästens Sängar AB. All rights reserved.</copyright>
            </footer>
        </design>
    </default>
</config>
