<!--@subject Welcome, {{var customer.name}}! @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"htmlescape var=$customer.name":"Customer Name",
"store url=\"customer/account/\"":"Customer Account Url"}
@-->

<!--@styles
@-->

{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td class="action-content">
            <h1>{{htmlescape var=$customer.name}},</h1>
            <p>Щоб увійти при відвідуванні вашого сайту просто натисніть<a href="{{store url="customer/account/"}}">Вхід</a> або <a href="{{store url="customer/account/"}}">Аккаунт</a> у верхній частині кожної сторінки, а потім введіть свою адресу електронної пошти і пароль.</p>
            <p>
                Якщо у вас є які-небудь питання, будь ласка, не соромтеся зв'язатися з нами за адресою
                <a href="mailto:{{var store_email}}">{{var store_email}}</a>
                {{depend store_phone}} або телефонуйте <a href="tel:{{var phone}}">{{var store_phone}}</a>{{/depend}}.
            </p>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer"}}
