<?xml version="1.0"?>
<config>
    <modules>
        <Tukish_CmsHierarchy>
            <version>1.0.1</version>
        </Tukish_CmsHierarchy>
    </modules>
    <global>
        <resources>
            <tukish_cmshierarchy_setup>
                <setup>
                    <module>Tukish_CmsHierarchy</module>
                    <class>Tukish_CmsHierarchy_Model_Resource_Setup</class>
                </setup>
            </tukish_cmshierarchy_setup>
        </resources>
        <helpers>
            <tukish_cmshierarchy>
                <class>Tukish_CmsHierarchy_Helper</class>
            </tukish_cmshierarchy>
            <cms>
                <rewrite>
                    <page>Tukish_CmsHierarchy_Helper_Cms_Page</page>
                </rewrite>
            </cms>
        </helpers>
        <models>
            <tukish_cmshierarchy>
                <class>Tukish_CmsHierarchy_Model</class>
            </tukish_cmshierarchy>
            <cms>
                <rewrite>
                    <page>Tukish_CmsHierarchy_Model_Cms_Page</page>
                    <page_permission>Tukish_CmsHierarchy_Model_Cms_Page_Permission</page_permission>
                </rewrite>
            </cms>
            <cms_resource>
                <rewrite>
                    <page>Tukish_CmsHierarchy_Model_Resource_Cms_Page</page>
                    <page_tree>Tukish_CmsHierarchy_Model_Resource_Cms_Page_Tree</page_tree>
                    <page_collection>Tukish_CmsHierarchy_Model_Resource_Cms_Page_Collection</page_collection>
                    <page_permission>Tukish_CmsHierarchy_Model_Resource_Cms_Page_Permission</page_permission>
                </rewrite>
                <entities>
                    <page_permission><table>tukish_cms_page_permission</table></page_permission>
                </entities>
            </cms_resource>
            <sitemap_resource>
                <rewrite>
                    <cms_page>Tukish_CmsHierarchy_Model_Resource_Sitemap_Cms_Page</cms_page>
                </rewrite>
            </sitemap_resource>
            <adminhtml>
                <rewrite>
                    <system_config_source_cms_page>Tukish_CmsHierarchy_Model_Adminhtml_System_Config_Source_Cms_Page</system_config_source_cms_page>
                </rewrite>
            </adminhtml>
        </models>
        <blocks>
            <tukish_cmshierarchy>
                <class>Tukish_CmsHierarchy_Block</class>
            </tukish_cmshierarchy>
            <cms>
                <rewrite>
                    <page>Tukish_CmsHierarchy_Block_Cms_Page</page>
                </rewrite>
            </cms>
            <catalog>
                <rewrite>
                    <navigation>Tukish_CmsHierarchy_Block_Catalog_Navigation</navigation>
                </rewrite>
            </catalog>
            <page>
                <rewrite>
                    <html_topmenu>Tukish_CmsHierarchy_Block_Page_Html_Topmenu</html_topmenu>
                </rewrite>
            </page>
            <adminhtml>
                <rewrite>
                    <cms_page_edit>Tukish_CmsHierarchy_Block_Adminhtml_Cms_Page_Edit</cms_page_edit>
                    <cms_page_widget_chooser>Tukish_CmsHierarchy_Block_Adminhtml_Cms_Page_Widget_Chooser</cms_page_widget_chooser>
                    <cms_page_edit_tab_design>Tukish_CmsHierarchy_Block_Adminhtml_Cms_Page_Edit_Tab_Design</cms_page_edit_tab_design>
                </rewrite>
            </adminhtml>
        </blocks>
        <events>
            <adminhtml_cms_page_edit_tab_main_prepare_form>
                <observers>
                    <tukish_cmshierarchy_page_prepare_form>
                        <type>singleton</type>
                        <class>Tukish_CmsHierarchy_Model_Adminhtml_Cms_Page_Observer</class>
                        <method>prepareForm</method>
                    </tukish_cmshierarchy_page_prepare_form>
                </observers>
            </adminhtml_cms_page_edit_tab_main_prepare_form>
            <cms_page_prepare_save>
                <observers>
                    <tukish_cmshierarchy_page_prepare_save>
                        <type>singleton</type>
                        <class>Tukish_CmsHierarchy_Model_Adminhtml_Cms_Page_Observer</class>
                        <method>prepareSave</method>
                    </tukish_cmshierarchy_page_prepare_save>
                </observers>
            </cms_page_prepare_save>
        </events>
    </global>
    <frontend>
        <routers>
            <cms>
                <args>
                    <modules>
                        <Tukish_CmsHierarchy before="Mage_Cms">Tukish_CmsHierarchy_Cms</Tukish_CmsHierarchy>
                    </modules>
                </args>
            </cms>
        </routers>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Tukish_CmsHierarchy before="Mage_Adminhtml">Tukish_CmsHierarchy_Adminhtml</Tukish_CmsHierarchy>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <tukish_cmshierarchy>
                    <file>tukish/cmshierarchy.xml</file>
                </tukish_cmshierarchy>
            </updates>
        </layout>
        <translate>
            <modules>
                <Tukish_CmsHierarchy>
                    <files>
                        <default>Tukish_CmsHierarchy.csv</default>
                    </files>
                </Tukish_CmsHierarchy>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <tukish_cmshierarchy>
            <general>
                <permissions_enabled>0</permissions_enabled>
                <cms_not_allowed_page/>
                <save_rewrites_history>0</save_rewrites_history>
                <include_in_menu>0</include_in_menu>
            </general>
        </tukish_cmshierarchy>
    </default>
</config>