@media only screen and (min-width: 770px) {
    .economcentr #header-search {
        top: 34px;

    }
}

.economcentr a {
    color: #333435;
    text-decoration: none;
}
.economcentr h1, .economcentr .h1 {

    color: #333435;
}

.economcentr .header-language-background {
	background-color:#333435;
}
.page {
    background: url("../images/bg.png") repeat scroll 50% center;
    border-top: 3px solid #333435;
}

#header , .main-container, .footer-container {
	background: white;
}

.economcentr #header.page-header {
	padding: 0;
}

.economcentr .footer-container {
	border-top: 2px solid white;
	border-bottom: 10px solid #333435;
	padding: 0;

}

.economcentr .footer-container .footer {
	padding: 0;
	border: 0;
}

#header-nav {
    margin: 0;
    padding: 1px 33px;
    background: none repeat scroll 0 0 #333435;
    border-radius: 15px 15px 15px 15px;
}

.economcentr .nav-primary {
	margin: 4px
}

.economcentr .nav-primary a {
    color: white;
}

.economcentr .nav-primary a:hover, .economcentr .nav-primary li.active > a {
    color: #FFBF00;
}

.economcentr .nav-primary li.level0 ul {
    background: #333435;
}

.economcentr .nav-primary a.level0 {
    color: white;
}


.economcentr .button, .economcentr .cart-table .product-cart-actions .button, .economcentr #co-shipping-method-form .buttons-set .button, .economcentr .footer .button {
    background: #333435;

}

.economcentr .nav-primary li:hover > a {
    color: #FFBF00;
}


.economcentr .button:hover {
	color: #FFBF00;
    background: #333435;
}

.economcentr .header-minicart .product-details .product-name a {
    color: #333435;
}

.economcentr .header-minicart .button {
    color: white;
}

.economcentr .footer .block-title, .economcentr .footer address {
    color: #333435;
}

#header-shop-info .phones , #header-shop-info .address {
    float: left;
    width: 250px;
    margin-top: 18px;
    margin-left: 43px;
    font-size: 17px;
}

ul.products-grid li.item {
    border: 1px solid #ededed;
}

.products-grid .price-box{
    background-color: #7C7E81;
}

.economcentr .products-grid .price-box .price{
    color: white;
    font-size: 26px;
}

.economcentr .actions .button, .economcentr .buttons-set .button {
    color: #ffffff;
}

.economcentr .actions .button:hover, .economcentr .buttons-set .button:hover {
    color: #FFBF00;
}

.economcentr .no-touch .product-image:hover {
    border-color: #ccc;
}

/** Home page Slider */

.economcentr .jcarousel-product-item {
    border: 1px solid #ccc;
    margin: 0px;
    padding: 14px;
}
/** Home page Slider End */

.economcentr .product-view .product-shop .price-box .regular-price .price, .economcentr .product-view .product-shop .price-box .special-price .price, .economcentr .product-view .product-shop .price-box .full-product-price .price {
    color: black;
}

.economcentr .price-box .price {
    color: black;
}

@media only screen and (max-width: 599px) {
    #header-shop-info .phones, #header-shop-info .address {
        display: none;
    }
}

.economcentr .err404-content-title-top, .economcentr .err404-content-title-text {
    font-size: 5em;
    font-weight: 100;
    margin-bottom: 0;
}

.economcentr .err404-content-title-text {
    font-size: 3em;
    font-weight: 100;
    margin-bottom: 0;
}

.page-404-wrapper {
    text-align: center;
}


.product-view .sharing-links a.link-vk {
    background-image: url(../images/vk32.png);
}

@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 4 / 2), (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .product-view .sharing-links a.link-vk {
        background-image: url(../images/vk32.png);
        background-size: auto;
    }
}

.economcentr  .header-minicart .subtotal .label {
    color: #636363;
}

.economcentr .product-view .product-shop .product-name .h1, .product-view .product-img-box .product-name h1 {
    color: #636363;
}

.economcentr .availability.in-stock {
    color: #3399cc;
}

.economcentr .cart .buttons-set .button, .economcentr .cart-table .button, .economcentr .sidebar .actions .button, .economcentr .button.button-secondary {
    background: #333435;
    color: #ffffff;
}

.economcentr .cart .buttons-set .button:hover,
.economcentr .cart-table .button:hover,
.economcentr .sidebar .actions .button:hover,
.economcentr .button.button-secondary:hover {
    background: #333435;
    color: #FFBF00;
}
