<?xml version="1.0"?>

<!--
/**
 * @category    Ec
 * @package     Ec_HomePageProducts
 */
-->
<config>
    <modules>
        <Ec_HomePageProducts>
            <version>1.0.0</version>
        </Ec_HomePageProducts>
    </modules>
    <global>
        <blocks>
            <ec_homepageproducts>
                <class>Ec_HomePageProducts_Block</class>
            </ec_homepageproducts>
        </blocks>
        <resources>
            <ec_homepageproducts_setup>
                <setup>
                    <module>Ec_HomePageProducts</module>
                </setup>
            </ec_homepageproducts_setup>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <ec_homepageproducts>
                    <file>ec/home_page_products.xml</file>
                </ec_homepageproducts>
            </updates>
        </layout>
    </frontend>
</config>
